<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- <style>
        body {
            font-family: Arial, sans-serif;
        }
        .dashboard-section {
            margin-bottom: 20px;
        }
        h1, h2 {
            color: #333;
        }
        p {
            color: #555;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin: 5px 0;
        }
    </style> -->
</head>
<body>
        <!-- Include the Navbar component -->
    {% include 'components/nav/navbar.html' %}
    {% block content %}{% endblock %}
</body>
</html>
